{{- $clusterRoleName := printf "%s-traces-reader" (include "tempo-stack.clusterResourceName" .) }}
{{- $existingClusterRole := lookup "rbac.authorization.k8s.io/v1" "ClusterRole" "" $clusterRoleName }}
{{- $existingClusterRoleBinding := lookup "rbac.authorization.k8s.io/v1" "ClusterRoleBinding" "" $clusterRoleName }}
{{- if and .Values.rbac.create (not $existingClusterRole) }}
# ClusterRole for TempoStack traces reading
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ $clusterRoleName }}
  labels:
    {{- include "tempo-stack.labels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
rules:
  - apiGroups:
      - 'tempo.grafana.com'
    resources:
      {{- range .Values.tempoStack.tenants.authentication }}
      - {{ .tenantName }}
      {{- end }}
    resourceNames:
      - traces
    verbs:
      - 'get'
{{- end }}
{{- if and .Values.rbac.create (not $existingClusterRoleBinding) }}
---
# ClusterRoleBinding for TempoStack traces reading
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ $clusterRoleName }}
  labels:
    {{- include "tempo-stack.labels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ $clusterRoleName }}
subjects:
  - kind: Group
    apiGroup: rbac.authorization.k8s.io
    name: system:authenticated
{{- end }}