---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: aiobservabilitysummarizers.aiobs.rh-ai-quickstart.io
spec:
  group: aiobs.rh-ai-quickstart.io
  names:
    kind: AIObservabilitySummarizer
    listKind: AIObservabilitySummarizerList
    plural: aiobservabilitysummarizers
    singular: aiobservabilitysummarizer
    shortNames:
      - aiobs
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          description: AIObservabilitySummarizer deploys the full AI Observability stack
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              description: Desired state of AIObservabilitySummarizer
              x-kubernetes-preserve-unknown-fields: true
            status:
              type: object
              description: Observed state of AIObservabilitySummarizer
              x-kubernetes-preserve-unknown-fields: true
      additionalPrinterColumns:
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp

